{% extends '../base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block formtitle%}Forgot your password?{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="rgtbox fl">
        <h3 class="my-3">Thank you!</h3>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form.as_p }}
        <input class="btn btn-info" type="submit" value="Send me instructions!">
        <a class="btn btn-info" href="{% url 'login' %}">Back to login</a>
    </form>
</div>
<link rel="stylesheet" href="/static/filterapp/css/common_secondary.css">
{% endblock %}
