{% extends '../base.html' %}

{% block title %}Change Password{% endblock %}

{% block formtitle%}Change password{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="rgtbox fl">
        <h3 class="my-3">Change your password:</h3>
	    <form method="POST">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <input class="btn btn-info"  type="submit" value="Change">
	        <a class="btn btn-info" href="{% url 'index' %}">Back to Game Board</a>
	    </form>
	</div>
<link rel="stylesheet" href="/static/filterapp/css/password_change_form.css">
<script type="text/javascript" src="/static/filterapp/js/secondary.js"></script>
{% endblock %}
