.rgtbox {
    padding-right: 37px;
    font-size: 15px;
}
.or{
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    color: #69cdcd;
    letter-spacing: -0.3px;
    font-weight: 600;
}
.input_50{
    width: 48%; float: left;
}
input.btn{
    clear: both;
}
.input_50 input {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee !important;
    padding: 3px;
    padding-left: 0px;
    padding-right: 0px;
    width: 77%;
}

.rgtbox a.btn{
    color: #fff;
    background-color: #69cdcd;
    border-color: #69cdcd;
    width: 85%;
    font-size: 12px;
    letter-spacing: -0.3px;
    font-weight: 600;
    margin-top: 12px;
    float: left;
    width: 50%;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 3em;    margin-top: 1em;
}  
form ul{
    float: right;
    width: 42%;
    font-size: 11px;
    margin-right: 23px;
    margin-bottom: 0px;
    line-height: 14px;
    letter-spacing: -0.5px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 11px;
}
 .form-group{
    margin-bottom: 0.1em;
}
.form-group input {
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.c50:nth-of-type(2){
    clear:both;
}
.c50{
    width: 48%;
    float: left;
}
form button.btn, form a.btn, form input.btn {
    color: #fff;
    background-color: #69cdcd;
    border-color: #69cdcd;
    width: 85%;
    font-size: 12px;
    letter-spacing: -0.3px;
    font-weight: 600;
    margin-top: 12px;
    float: left;
    width: 44%;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 3em;    margin-top: 1em;
}